/* 
.header-container.type4{
    border-top-color: beige !important;
}

.header-container {
    border-top-width: 30px !important;
    border-top-style: solid;
} */
/* .using-price{
    position: fixed;
    left: 45px;
    top: 260px;
} */

body .deal-category li.item {
    min-height: 568px!important;
}

.product-view .productviewcart .add-to-box{
    margin-top: 0px !important;
}
.repair-div{
    height: 20px;
}

.price-div{
    border-bottom: solid black 1px

}